@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My news feed </h1>
    <div>

        <ul id="feed" class="row rss-feed">

        </ul>

        <button id="btnLoad" class="btn btn-primary btn-lg" onclick="btnGetFeeds_OnClick()">Load more &raquo;</button>

    </div>

</div>